.contactForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 20px;
  font-size: 16px;
  font-weight: 700;
}

.contactInput {
  width: auto;
  margin: 10px;
  &:focus {
    outline: 1px solid blue;
    transform: scale(1.05);
    transition: 300ms;
  }
}

button {
  background-color: #fff;
  border: 1px solid grey;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  &:hover {
    background-color: lightblue;
  }
}
