h1 {
  font-size: 20px;
}
.mainDiv {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40;
  color: #010101;
  flex-direction: column;
  padding: 50px;
}
